@import "vars";
@import "libs";
@import "fonts";

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  background-color: #fff;
}

a {
  color: $light-blue;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $accent;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-header {
  background-color: $dark;
  padding: 20px 0;
}

.top-header__logo {
  height: 64px;
  width: 160px;
  margin: 0 auto;
  display: block;
}

.main-header {
  padding: 20px 0;
  &__info {
    display: block;
  }
  &__contacts-text {
    font-size: 20px;
    font-weight: 500;
    span {
      font-size: 13px;
      font-weight: normal;
      color: $gray;
    }
  }
  &__brand {
    text-align: right;
  }
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__contacts {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.main-header__contacts-text {
  margin-right: 30px;
}

.main-header__btn {
  width: 125px;
  height: 35px;
  color: $light-blue;
  font-size: 13px;
  font-weight: normal;
  border: 1px solid $light-blue;
  border-radius: 4px;
  line-height: normal;
  transition: 0.1s ease-in;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #ffffff;
    background-color: $light-blue;
    text-decoration: none;
  }
}

.header-banner {
  height: 274px;
  padding: 0;
  width: 100%;
  background-image: url('/img/banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer {
  padding-bottom: 25px;
  background-color: $dark;
  line-height: 21px;
  font-weight: 400;
  &__popular {
    a {
      display: block;
      text-decoration: underline;
      color: rgba(#fff, 0.8);
      line-height: 1.6;
    }
    a:hover {
      color: #ffffff;
    }
  }
  &__contacts {
    &-tel {
      color: rgba(#fff, 0.8);
      line-height: 1.6;
    }
    &-tel:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  &__seller-text {
    line-height: 1.6;
  }
  &__title {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  &__content {
    display: flex;
    color: rgba(#fff, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
  &__text {
    color: rgba(#fff, 0.5);
    font-size: 16px;
    text-align: center;
    margin-top: 45px;
  }
}

.header-banner {
  padding: 0;
  margin: 0;
  img {
    max-width: 100%;
  }
}

.popular-sections {
  &__item {
    &-img {
      overflow: hidden;
      width: 100%;
    }
    img {
      width: 100%;
      transition: 0.2s;
    }
  }

  &__item:hover {
    cursor: pointer;
    img {
      transform: scale(1.05);
    }
  }
  &__title {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }
  &__item-title {
    text-align: center;
    color: #fff;
    background-color: $dark;
    padding: 10px 10px;
  }
}

.popular-collections {
  &__item {
    &-img {
      overflow: hidden;
      width: 100%;
    }
    img {
      width: 100%;
      transition: 0.2s;
    }
  }

  &__item:hover {
    cursor: pointer;
    img {
      transform: scale(1.05);
    }
  }
  &__title {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
  &__item-title {
    text-align: center;
    color: #fff;
    background-color: $dark;
    padding: 10px 10px;
  }
}

.design-section__inner {
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 15px;
}

.design-section {
  margin-bottom: 65px;
  &__img {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    z-index: 1;
  }
  &__text {
    line-height: 1.2;
    margin: 0;
    z-index: 2;
  }
  &__title {
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: left;
  }
}

.technologies-section__inner {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-auto-columns: dense;
  grid-gap: 15px;
}

.technologies-section {
  margin-bottom: 85px;
  &__img {
    max-width: 100%;
    display: block;
    float: right;
    grid-column: 2;
    grid-row: 1;
  }
  &__text {
    line-height: 1.2;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
  }
  &__title {
    margin-bottom: 20px;
    text-align: left;
    padding-top: 35px;
    border-top: 1px solid #eee;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0;
}

.slick-dots button {
  background-color: $gray;
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-indent: -999px;
  outline: none;
  margin-right: 5px;
}

.slick-active button {
  background-color: $accent;
}

@import "media";
